@model IEnumerable<HeavenCars.DataAccessLayer.Models.Bookings.BookingVehicule>
@inject UserManager<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser> userManager;
@{ ViewBag.Title = "Booking List";
    var user = await userManager.GetUserAsync(Context.User);
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";}


    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1"><i class="fa fa-users fa-2x"></i> Bookings</h2>
                        </div>
                    </div>
                </div>

                <table class="table table-hover ">
                    <thead>
                        <tr>

                            <th>
                                Email
                            </th>

                            <th>
                                Start Date
                            </th>

                            <th>
                                End Date
                            </th>
                            <th>
                                Status
                            </th>

                            <th>Edit</th>

                            <th>View</th>

                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var booking in Model)
                        {
                        <tr>

                            <td>@booking.ApplicationUser.Email</td>
                            <td>@booking.StartDate</td>
                            <td>@booking.EndDate</td>
                            <td>@booking.BookingVanStatus</td>



                            <td>
                                <a asp-action="Edit" asp-controller="Booking" asp-route-bookingid="@booking.BookingId"><i style="color:#4272d7;" class="fa fa-edit fa-2x"></i></a>

                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Booking" asp-route-id="@booking.BookingId"><i style="color:#4272d7;" class="fa fa-info-circle fa-2x"></i></a>

                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Booking" asp-route-bookingid="@booking.BookingId"><i style="color:#4272d7;" class="fa fa-trash fa-2x"></i></a>
                            </td>
                        </tr>}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
