@model HeavenCars.ViewModels.Booking.CreateBookingViewModel
@inject UserManager<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser> userManager;

@{ ViewData["Title"] = "Create";
    var user = await userManager.GetUserAsync(Context.User);
    var photoCar = "~/Images/" + (Model.ExistingPhotoCar ?? "noimage.png");}



<section id="slider-area">
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form asp-action="Create" asp-controller="Booking">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CarId" />
                            <input type="hidden" asp-for="BookingId" />

                            <div class="pickup-location book-item">
                                <h4>START DATE:</h4>
                                <input asp-for="StartDate" class="form-control" placeholder="Start Date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="pickup-location book-item">
                                <h4>END DATE:</h4>
                                <input asp-for="EndDate" class="form-control" rows="3" cols="20" placeholder="End Date" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(30).ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>

                            <div>
                                @if (await userManager.IsInRoleAsync(user, "Admin"))
                                {
                        <input type="submit" value="Create" class="book-now-btn" />
                                        <a asp-action="ListCars" asp-controller="Cars" class="booksecond-now-btn">Back to overview</a> }
                                    else
                                    {
                        <input type="submit" value="Create" class="book-now-btn" />
                                        <a asp-action="ListCars" asp-controller="Cars" class="booksecond-now-btn">Back to List</a>}
                            </div>


                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="book-a-car">
                        <h5>Vehicule</h5>
                       

                        <div class="mt-3 con suv mpv">
                            <div class="single-popular-car">

                                <div class="p-car-thumbnails">



                                    <a class="car-hover" href="@photoCar">
                                        <img class="card-img-top" alt="Cinque Terre" src="@photoCar" asp-append-version="true" />

                                    </a>
                                </div>


                                <div class="p-car-content text-center" >
                                    <h3>
                                        <a>@Model.BrandName</a>
                                        <a>@Model.ModelName</a>
                                        -
                                        <span class="pricesecond"><i class="fa fa-tag"></i>@Model.Prijs €</span>
                                    </h3>

                                    <h5>HATCHBACK</h5>

                                    <div class="p-car-featuresecond">
                                        <a>@Model.MinLeeftijd years</a>
                                        <a>@Model.Kw KW</a>
                                     
                                    </div>
                                    <br />

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>