@model HeavenCars.ViewModels.Booking.DetailBookingViewModel
@*@using Microsoft.Extensions.Options
@inject IOptions<HeavenCars.Data.StripeSettings> Stripe*@


@{ ViewData["Title"] = "Details of Booking";
    var photoCar = "~/Images/" + (Model.ExistingPhotoCar ?? "noimage.png");}



<section id="page-title-area-sec" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Reservation of @Model.Email</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Reservation @Model.BrandName @Model.ModelName </p>
                </div>
            </div>
        </div>
    </div>
</section> 

<section id="slider-area">
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row book-a-car">

                <div class="col-lg-8">
                    <div class="choose-content-wrap">
                        <h5>Personal information</h5>
                        <div class="container">
                            <div class="row">
                                @*<div class="col-lg-12">
                                    <h5> Total : <span> @Model.Total €</span></h5>
                                    <div style="color:goldenrod;">
                                        <i class="fa fa-cc-stripe fa-2x"></i> <i class="fa fa-cc-visa fa-2x"></i> <i class="fa fa-cc-mastercard fa-2x"></i> <i class="fa fa-cc-amex fa-2x"></i>
                                    </div>

                                    <form asp-action="Charge" asp-controller="Booking" method="POST">
                                        <script src="https://checkout.stripe.com/checkout.js" 
                                                class="stripe-button"
                                                data-key="@Stripe.Value.PublishableKey"
                                                data-name="Car Share"
                                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                data-locale="auto"
                                                data-description="sample charge">
                                        </script>

                                    </form>

                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="col-lg-4">
                    <div class="pricing-details-content">
                        <h5>Your Selection</h5>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 text-center">
                                <div class="single-pricing-table">
                                    <h3>@Model.BrandName @Model.ModelName</h3>
                                    <a class="car-hover" href="@photoCar">
                                        <img class="card-img-top" alt="Cinque Terre" src="@photoCar" asp-append-version="true" />

                                    </a>

                                    <ul class="package-list">
                                        <li>Start Date : @Model.StartDate</li>
                                        <li>End Date : @Model.EndDate</li>
                                        <li>Status : @Model.BookingVanStatus</li>
                                        <li>Totale Day(s) : @Model.Days</li>
                                        <li>Price Per Day : @Model.Prijs €</li>
                                        <li>Totale Price : @Model.Total €</li>
                                        @if (User.IsInRole("Admin"))
                                        {
                            <li>User : @Model.ApplicationUser</li>}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@



@*@section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/CustomScript.js"></script> }*@
