@model HeavenCars.ViewModels.Booking.EditBookingViewModel
@{ ViewData["Title"] = "Update Booking ";


 }


<section id="slider-area">
    <div class="single-slide-item overlay">
        <div class="container">

            <div class="row">
                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>ONLY FOR THE ADMINISTRATION!</h1>
                                <h2>UPDATE <br> YOUR BOOKING </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="book-a-car">
                        <form enctype="multipart/form-data" asp-action="Edit" asp-controller="Booking" method="post" class="mt-3">
                            <input hidden asp-for="BookingId" />
                         

                            <div class="pickup-location book-item">
                                <h4>CAR BRAND:</h4>
                                <input asp-for="@Model.BrandName" class="form-control" placeholder="Car Brand" />
                                <span asp-validation-for="@Model.BrandName" class="text-danger"></span>
                            </div>


                            <div class="pickup-location book-item">
                                <h4>CAR MODEL:</h4>
                                <input asp-for="@Model.ModelName" class="form-control" placeholder="Car Model" />
                                <span asp-validation-for="@Model.ModelName" class="text-danger"></span>
                            </div>

                            <div class="pickup-location book-item">
                                <h4>START DATE:</h4>
                                <input asp-for="StartDate" class="form-control" placeholder="Start Date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="pickup-location book-item">
                                <h4>END DATE:</h4>
                                <input asp-for="EndDate" class="form-control" rows="3" cols="20" placeholder="End Date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(30).ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>STATUS:</h4>

                                <select asp-for="BookingVanStatus" asp-items="Html.GetEnumSelectList<HeavenCars.DataAccessLayer.Models.Bookings.BookingStatus>()" class="custom-select">
                                    <option value="">Select Status</option>
                                </select>
                                <span asp-validation-for="BookingVanStatus" class="text-danger"></span>

                            </div>

                            <div class="book-button text-center">
                                <button type="submit" class="book-now-btn">Save</button>
                                <a asp-controller="Booking" asp-action="BookingsList" class="rent-btn"> Cancel <i class="fa fa-long-arrow-left"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

