@using Microsoft.AspNetCore.Identity
@inject SignInManager<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser> signInManager;


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>




    <environment include="Development">

        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <!--=== Bootstrap CSS ===-->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <!--=== Slicknav CSS ===-->
        <link href="~/css/plugins/slicknav.min.css" rel="stylesheet">
        <!--=== Magnific Popup CSS ===-->
        <link href="~/css/plugins/magnific-popup.css" rel="stylesheet">
        <!--=== Owl Carousel CSS ===-->
        <link href="~/css/plugins/owl.carousel.min.css" rel="stylesheet">
        <!--=== Gijgo CSS ===-->
        <link href="~/css/plugins/gijgo.css" rel="stylesheet">
        <!--=== FontAwesome CSS ===-->
        <link href="~/css/font-awesome.css" rel="stylesheet">
        <!--=== Theme Reset CSS ===-->
        <link href="~/css/reset.css" rel="stylesheet">
        <!--=== Main Style CSS ===-->
        <link href="~/css/style.css" rel="stylesheet">
        <!--=== Responsive CSS ===-->
        <link href="~/css/responsive.css" rel="stylesheet">


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("Style", required: false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                <img src="~/images/HCLogoo.jpg" height="40" width="40" asp-append-version="false" />
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Cars" asp-action="ListCars">Cars</a>
                        </div>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Cars" asp-action="Create">Car</a>
                        </div>
                    </li>

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("User"))

                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                            </div>
                        </li>
                    }


                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")@*|| User.IsInRole("SubAdmin")*@)
{
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
        <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>
        <a class="dropdown-item" asp-controller="Booking" asp-action="BookingsList">Bookings</a>
    </div>
</li>
}
                </ul>



                <ul class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto;">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="account" class="nav-link">Login</a>
                        </li>
                    }
                </ul>
            </div>

        </nav>

        <div>
            @RenderBody()
        </div>

        <div class="jumbotron " style="margin-bottom:0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h4> In the Heaven of Your Dream Car </h4>
            </div>

            <!--== Footer Area Start ==-->
            <section id="footer-area">
                <!-- Footer Widget Start -->
                <div class="footer-widget-area">
                    <div class="container">
                        <div class="row">
                            <!-- Single Footer Widget Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-footer-widget">
                                    <h2>About Us</h2>
                                    <div class="widget-body">
                                        <img src="~/images/Icons/cartransparants.png" alt="JSOFT">
                                        <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>

                                        <div class="newsletter-area">
                                            <form action="index.html">
                                                <input type="email" placeholder="Subscribe Our Newsletter">
                                                <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Widget End -->
                            <!-- Single Footer Widget Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-footer-widget">
                                    <h2>Recent Posts</h2>
                                    <div class="widget-body">
                                        <ul class="recent-post">
                                            <li>
                                                <a href="#">
                                                    Hello Bangladesh!
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Lorem ipsum dolor sit amet
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Hello Bangladesh!
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    consectetur adipisicing elit?
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Widget End -->
                            <!-- Single Footer Widget Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-footer-widget">
                                    <h2>get touch</h2>
                                    <div class="widget-body">
                                        <p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>

                                        <ul class="get-touch">
                                            <li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
                                            <li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
                                            <li><i class="fa fa-envelope"></i> kazukamdu83@gmail.com</li>
                                        </ul>
                                        <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Widget End -->
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Bottom Start -->
                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Bottom End -->
            </section>
            <!--== Footer Area End ==-->



            @*<div class="footer-bottom">
                <div class="container">
                    <p class="pull-left copyright"> Copyright © HeavenCars by Ahmed Boujdaini 2020. All right reserved. </p>

                </div>
            </div>*@

        </div>
    </div>


    <environment include="Development">

        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/js/jquery-3.2.1.min.js"></script>

        <!--=== Jquery Migrate Min Js ===-->
        <script src="~/js/jquery-migrate.min.js"></script>
        <!--=== Popper Min Js ===-->
        <script src="~/js/popper.min.js"></script>
        <!--=== Bootstrap Min Js ===-->
        <script src="~/js/bootstrap.min.js"></script>
        <!--=== Gijgo Min Js ===-->
        <script src="~/js/plugins/gijgo.js"></script>
        <!--=== Vegas Min Js ===-->
        <script src="~/js/plugins/vegas.min.js"></script>
        <!--=== Isotope Min Js ===-->
        <script src="~/js/plugins/isotope.min.js"></script>
        <!--=== Owl Caousel Min Js ===-->
        <script src="~/js/plugins/owl.carousel.min.js"></script>
        <!--=== Waypoint Min Js ===-->
        <script src="~/js/plugins/waypoints.min.js"></script>
        <!--=== CounTotop Min Js ===-->
        <script src="~/js/plugins/counterup.min.js"></script>
        <!--=== YtPlayer Min Js ===-->
        <script src="~/js/plugins/mb.YTPlayer.js"></script>
        <!--=== Magnific Popup Min Js ===-->
        <script src="~/js/plugins/magnific-popup.min.js"></script>
        <!--=== Slicknav Min Js ===-->
        <script src="~/js/plugins/slicknav.min.js"></script>

        <!--=== Mian Js ===-->
        <script src="~/js/main.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        @*<script src="~/js/CustomScript.js"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true">
        </script>

        @*<script src="~/js/CustomScript.js"></script>*@
    </environment>

 


    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)}

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)}


</body>
</html>
