@model HeavenCars.ViewModels.Cars.DetailCarViewModel
@inject SignInManager<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser> signInManager;

@{ ViewData["Title"] = "Details of Car";
    var photoCar = "~/Images/" + (Model.ExistingPhotoCar ?? "noimage.png"); }

   
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Cars</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Rent your car.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="car-details-content">
                    <h2>@Model.BrandName @Model.ModelName <span class="price">Rent: <b> Prijs: @Model.Prijs € </b></span></h2>
                    <div class="car-preview-crousel">
           
                    

                        <div class="single-car-preview">
                            <img class="card-img-top" src="@photoCar" asp-append-version="true" />

                        </div>
                        <div class="single-car-preview">
                            <img class="card-img-top" src="@photoCar" asp-append-version="true" />
                        </div>
                        <div class="single-car-preview">
                            <img class="card-img-top" src="@photoCar" asp-append-version="true" />
                        </div>
                    </div>
                        
                    <div class="car-details-info">
                        <h4>Description</h4>
                        <p>@Html.Raw(Model.Content)</p>

                        <hr /> 

                        <h3>Tarieven</h3>

                        <div class="technical-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Day</th>
                                                <td> @(Model.Prijs)€</td>
                                            </tr>
                                            <tr>
                                                <th>2 days</th>
                                                <td>@Model.Price2 €</td> @*Changer le datatype en int au lieu de string et faire diviser par deux (/2) pour avoir le prix (pour que le prix soit diviser par deux). 180 EUR*@
                                            </tr>
                                            <tr>
                                                <th>1 Week</th>
                                                <td>@Model.Price3 €</td>
                                                @*Changer le datatype en int au lieu de string et multiplier par 0.8 ( 20pourcent reduction) pour avoir le prix (pour que le prix soit diviser par deux). 160 EUR*@
                                            </tr>
                                            <tr>
                                                <th>1 Month</th>
                                                <td><a href="~/Home/Contact">Quote</a></td>
                                                @*Changer le datatype en int au lieu de string et faire diviser par deux (/2) pour avoir le prix (pour que le prix soit diviser par deux). 100 EUR*@
                                                @*Changer le datatype en int au lieu de string et multiplier par 0.6 ( 40pourcent reduction) pour avoir le prix (pour que le prix soit diviser par deux). 120 EUR*@
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review-area">
                            <h3>Be the first to review @Model.BrandName </h3>
                            <div class="review-form">
                                <form action="index.html">

                                    <div class="input-submit">
                                        @if (Model.IsAvailableForRent == true && signInManager.IsSignedIn(User))
                                        {
                            <a asp-controller="Booking" asp-action="Create" asp-route-carid="@Model.CarId" class="rent-btn"> Booking <i class="fa fa-long-arrow-right"></i></a> }
                                        else 
                                        {
                                 <a asp-controller="Booking" asp-action="Create" asp-route-carid="@Model.CarId" class="rent-btn disabled" > Booking <i class="fa fa-long-arrow-right"></i></a>
                                 <p>test</p>
                                 }
                                       
                                        <a asp-controller="Cars" asp-action="ListCars" class="rent-btn" > Back <i class="fa fa-long-arrow-left"></i></a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar-content-wrap m-t-50">
                    <div class="single-sidebar">
                        <h3>For More Informations</h3>

                        <div class="sidebar-body">
                            <p><i class="fa fa-mobile"></i> 04/84.82.13.72</p>
                            <p><i class="fa fa-clock-o"></i> Maandag - Zaterdag 8.00u - 18.00u</p>

                        </div>
                    </div>
                    <div class="single-sidebar">
                        <h3>Discount</h3>

                        <div class="sidebar-body">
                            <ul class="recent-tips">
                                <li class="single-recent-tips">
                                    <div class="recent-tip-thum">
                                        <p> <i class="fa fa-percent"></i></p>
                                    </div>
                                    <div class="recent-tip-body">
                                        <h6>GET 5% FOR 2 Days </h6>
                                        <span class="date"></span>
                                    </div>
                                </li>

                                <li class="single-recent-tips">
                                    <div class="recent-tip-thum">
                                        <p> <i class="fa fa-percent"></i></p>
                                    </div>
                                    <div class="recent-tip-body">
                                        <h6>GET 10% FOR A WEEK </h6>
                                        <span class="date"></span>
                                    </div>
                                </li>

                                <li class="single-recent-tips">
                                    <div class="recent-tip-thum">
                                        <p> <i class="fa fa-percent"></i></p>
                                    </div>
                                    <div class="recent-tip-body">
                                        <h6>GET 20% FOR A MONTH </h6>
                                        <span class="date"></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <h3>Connect with Us</h3>

                        <div class="sidebar-body">
                            <div class="social-icons text-center">
                                <a href="https://fr-fr.facebook.com/zermi.notest" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://wa.me/32484821372" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                <a href="https://www.instagram.com/mowgl2i/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
