@model HeavenCars.ViewModels.Cars.EditCarViewModel


@{ ViewData["Title"] = "Edit Car";
    var photoPath = $"~/Images/{Model.ExistingPhotoCar ?? "noimage.png"}"; }

<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />

<section id="slider-area">
    <div class="single-slide-item overlay">
        <div class="container">

            <div class="row">
                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>ONLY FOR THE ADMINISTRATION!</h1>
                                <p>EDIT YOUR CAR <br> TO ATRACT ALL THE CLIENTS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="book-a-car">
                        <form enctype="multipart/form-data" asp-action="Edit" asp-controller="Cars" method="post" class="mt-3">
                            <input hidden asp-for="CarId" />
                            <input hidden asp-for="ExistingPhotoCar" />

                            <div class="form-group">
                                <h4>AVAILABLE:</h4>
                                <select asp-for="IsAvailableForRent" class="form-control" asp-items="Model.ListAvaible"></select>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>BRAND:</h4>
                                <input asp-for="@Model.CarModel.Brand.BrandName" class="form-control" placeholder="Name" />
                                <span asp-validation-for="@Model.CarModel.Brand.BrandName" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>MODEL:</h4>
                                <input asp-for="@Model.CarModel.ModelName" class="form-control" placeholder="Name" />
                                <span asp-validation-for="@Model.CarModel.ModelName" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>MINIMUM YEARS:</h4>
                                <input asp-for="@Model.CarModel.MinLeeftijd" class="form-control" placeholder="Leeftijd" />
                                <span asp-validation-for="@Model.CarModel.MinLeeftijd" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>PRICE:</h4>
                                <input asp-for="Prijs" class="form-control" placeholder="Price" />
                                <span asp-validation-for="Prijs" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>KW:</h4>
                                <input asp-for="@Model.CarModel.Kw" class="form-control" placeholder="KW" />
                                <span asp-validation-for="@Model.CarModel.Kw" class="text-danger"></span>
                            </div>
                      
                            <div class="pickup-location book-item">
                                <h4>Content:</h4>
                                <textarea id="editor" asp-for="Content" class="form-control" placeholder="Content"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>PICTURE:</h4>
                                <input asp-for="Photo" class="col-sm-3"/>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                            <div class="book-button text-center">
                                <button type="submit" class="book-now-btn">Save</button>
                                
                                <a asp-controller="Cars" asp-action="ListCarsAdmin" class="rent-btn"> Cancel <i class="fa fa-long-arrow-left"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });</script>
}
